.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70vw;
  translate: -50% -50%;

  border-radius: var(--space-xl);
  background: var(--elevation-1);
  color: var(--foreground);
  border: 1px solid red;
  box-shadow: var(--shadow-below-5);

  &[data-state='open'],
  &[data-state='closed'] {
    animation-timing-function: var(--ease-out-3);
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }

  &[data-state='open'] {
    animation-name: error-dialog-animate-in;
  }

  &[data-state='closed'] {
    animation-name: error-dialog-animate-out;
  }

  & > section {
    padding-inline: var(--space-xl);
    margin-block: var(--space-xl);

    &:first-of-type {
      padding-block: var(--space-md);
      border-bottom: var(--border-light);
      margin: 0;
    }

    &:last-of-type {
      display: grid;
      gap: var(--space-xl);
      padding-block: var(--space-xl);
      border-top: var(--border-light);
      margin: 0;

      p {
        font-size: 0.9375rem;
        text-align: left;
      }

      button {
        border: var(--border-foreground);
        padding-inline: var(--space-md);
        padding-block: var(--space-sm);
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: oklch(var(--black-oklch) / 0.5);
  backdrop-filter: blur(4px);

  &[data-state='open'],
  &[data-state='closed'] {
    animation-timing-function: var(--ease-out-3);
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }

  &[data-state='open'] {
    animation-name: error-overlay-animate-in;
  }

  &[data-state='closed'] {
    animation-name: error-overlay-animate-out;
  }
}

@keyframes error-dialog-animate-in {
  from {
    translate: -50% calc(-50% + var(--space-lg));
    opacity: 0;
  }
}

@keyframes error-dialog-animate-out {
  to {
    scale: 90%;
    opacity: 0;
  }
}

@keyframes error-overlay-animate-in {
  from {
    opacity: 0;
  }
}

@keyframes error-overlay-animate-out {
  to {
    opacity: 0;
  }
}
