.radio-group-item {
  display: inline grid;
  grid-area: var(--space-sm);

  & > * {
    grid-area: 1/1;
    position: relative;
  }
}

.input {
  appearance: none;
  cursor: pointer;
}

.label {
  cursor: pointer;
}
