.footer {
  position: sticky;
  bottom: 0;
  padding: var(--space-md);

  display: flex;
  justify-content: space-between;

  font-weight: var(--font-medium);
  font-size: 0.875rem;

  background: oklch(var(--elevation-02-oklch) / 80%);
  border-top: 1px solid oklch(var(--white-oklch) / 0.1);
  backdrop-filter: blur(10px);

  div {
    display: flex;
    gap: var(--space-sm);
    opacity: 0;

    &[data-visible="true"] {
      opacity: 1;
      transition: opacity 200ms ease-out;
    }

    button {
      opacity: 0.6;
      text-decoration: underline;
      text-decoration-color: oklch(var(--foreground-oklch) / 40%);
      text-underline-offset: 2px;
      transition: opacity 200ms ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
