.search {
  flex-grow: 1;
  margin: 0;

  & > div {
    position: relative;
  }

  input[type="text"] {
    height: 3rem;
    width: 100%;
    padding-inline-start: 44px;
    padding-inline-end: 0.5px;
  }

  button {
    position: absolute;
    bottom: 0.5rem;
    height: 2rem;
    width: 2rem;
    transition: opacity 150ms ease-out, border 100ms ease-out,
      color 100ms ease-out;

    &:disabled {
      cursor: default;
    }

    &:first-of-type {
      left: 0.5rem;

      &:disabled {
        color: var(--foreground);
        opacity: 0.5;
      }

      &:not(:disabled):hover {
        color: var(--color-accent);
      }
    }

    &:last-of-type {
      right: 0.5rem;
      color: rgb(255 255 255 / 0.3);

      &:not(:disabled):hover {
        color: var(--color-accent);
      }

      &:disabled {
        opacity: 0;
      }
    }

    &:focus-visible {
      color: var(--color-accent);
      border: var(--border-active);
    }
  }

  label {
    padding-inline-start: 2px;
  }
}
