.wrapper {
  display: flex;
  gap: var(--space-sm);
}

.item {
  height: var(--input-height);
  width: var(--input-height);
  border-radius: var(--input-height);
  border: var(--border-light);
  background: blue;
  background-clip: padding-box;

  &:has(input:checked) {
    background: green;
    background-clip: padding-box;
  }
}
