.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    font-weight: var(--font-medium);
    font-size: 14px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--space-xl);
    height: var(--space-xl);
  }
}
