.wrapper {
  display: flex;
}

.item {
  flex: 1 0 0;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);

  line-height: 0.95;
  text-align: center;
  color: oklch(var(--foreground-oklch) / 60%);

  border: var(--input-border-default);
  border-right: var(--input-border-transparent);

  transition: color 150ms var(--ease-out-3), border 150ms var(--ease-out-3),
    background 150ms var(--ease-out-3);

  span:first-of-type & {
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
  }

  span:last-of-type & {
    border-right: var(--input-border-default);
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  }

  input:checked + & {
    background: oklch(var(--color-accent-oklch) / 20%);
    border: var(--input-border-focused);
    color: var(--foreground);
  }
}
