.overlay {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: center;
  align-items: center;

  color: var(--color-accent);

  padding-bottom: var(--space-xl);

  &[data-state='open'] {
    animation-name: loading-fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: var(--ease-out-3);
    animation-duration: 300ms;
  }

  p {
    font-size: 0.875rem;
    font-weight: var(--font-medium);
    color: oklch(var(--foreground-oklch) / 60%);
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: center;
  align-items: center;
}

.fill {
  flex-grow: 1;
}

.fullscreen {
  position: fixed;
  inset: 0;
  z-index: var(--z-4);
  background: oklch(var(--black-oklch) / 70%);
}

@keyframes loading-fade-in {
  from {
    opacity: 0;
  }
}
