@layer base {
  :root {
    --white-oklch: 100% 0 0;
    --white: oklch(var(--white-oklch));

    --black-oklch: 0% 0 0;
    --black: oklch(var(--black-oklch));

    --gray-950-oklch: 14% 0 0;
    --gray-950: oklch(var(--gray-950-oklch));

    --gray-925-oklch: 20% 0 0;
    --gray-925: oklch(var(--gray-925-oklch));

    --gray-900-oklch: 22.5% 0 0;
    --gray-900: oklch(var(--gray-900-oklch));

    --gray-800-oklch: 29.3% 0 0; /* This is Figma's gray */
    --gray-800: oklch(var(--gray-800-oklch));

    --gray-775-oklch: 35% 0 0;
    --gray-775: oklch(var(--gray-775-oklch));

    --color-accent-oklch: 100% 0.3 160;
    --color-accent: oklch(var(--color-accent-oklch));

    --foreground-oklch: var(--white-oklch);
    --foreground: oklch(var(--foreground-oklch));

    --background-oklch: var(--gray-900-oklch);
    --background: oklch(var(--background-oklch));

    --elevation-01-oklch: var(--gray-800-oklch);
    --elevation-01: oklch(var(--elevation-01-oklch));

    --elevation-02-oklch: var(--gray-775-oklch);
    --elevation-02: oklch(var(--elevation-02-oklch));

    --depression-01-oklch: var(--gray-925-oklch);
    --depression-01: oklch(var(--depression-01-oklch));

    --depression-02-oklch: var(--gray-950-oklch);
    --depression-02: oklch(var(--depression-01-oklch));
  }
}
