@layer base {
  :root {
    --shadow-color: var(--black-oklch);
    --shadow-strength: 1%;
    --shadow-elevation-high: 0 -1px 2px 0 oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 2%)),
      0 2px 1px -2px oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 3%)),
      0 5px 5px -2px oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 4%)),
      0 10px 10px -2px oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 5%)),
      0 20px 20px -2px oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 6%)),
      0 40px 40px -2px oklch(var(--shadow-color) /
            calc(var(--shadow-strength) + 8%));
  }
}
