@layer base {
  .relative {
    display: relative;
  }

  .flex {
    display: flex;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .gap-4px {
    gap: var(--space-xs);
  }

  .opacity-50 {
    opacity: 50%;
  }
}
